<h2>Cerveceria: {{ brewery }}</h2>


{% if error_message %}
    <p>
        {{ error_message }}
    </p>
{% endif %}


<p>
    Catalogo de cervezas:
</p>

<form action="{% url 'beers:favorite' brewery.id %}" method="POST">
    {% csrf_token %}
    {% for beer in brewery.beer_set.all %}
        <input type='radio' id="beer{{ forloop.counter }}" name="beer" value="{{ beer.id }}">
        <label for="beer{{ forloop.counter }}" >
            {{beer.name}}
            {% if beer.is_favorite %}
                <img src="https://i.imgur.com/b9b13Rd.png" />
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit" value="Favorite">
</form>

<!-- <ul>
    {% for beer in brewery.beer_set.all %}
        <li>{{beer.name}}</li>
    {% endfor %}
</ul> -->

